<div class="row">
    <div class="col"></div>
    <div class="col"></div>
     <div class="col border border-secondary border-3  bg-light text-center shadow-lg p-5">
        <img src="../../assets/images1/bank-vector-icon.jpg" alt="" width="155px" height="150px">
        <h1 align="center">My Bank</h1>
        <input type="text" placeholder="Username" class="form-control" id="reg_name"><br>
        <input type="text" placeholder="Account number" class="form-control" id="reg_acno"><br>
        <input type="password" placeholder="password" class="form-control" id="reg_pswd"><br>
        <div class="d-grid gap-2">
        <button class="btn btn-primary" onclick="register()">Register</button><br></div>
       <a href="./index.html" style="text-decoration:none">sigin</a>
     </div>
     <div class="col"></div>
     <div class="col"></div></div> 